<h4>Information</h4>

<p class="text text-1">Starttid:</p>
<input class="_input _input-1" placeholder="12:00:00" type="text">
<p class="text text-2">Antal per grupp:</p>
<input class="_input _input-2" placeholder="15" type="text">
<p class="text text-3">Första startnummer:</p>
<input class="_input _input-3" placeholder="100" type="text">
<p class="text text-4">Tid mellan grupper:</p>
<input class="_input _input-4" placeholder="5min" type="text">
<p class="text text-5">Antal varv:</p>
<input class="_input _input-5" placeholder="3" type="text">
<p></p>
